body {
    background: #bb1b1b;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

h1 {
    color: rgb(0, 0, 0);
}

.ketengah {
    margin: 10px auto;
    width: 1150px;
}

.kotak {
    background: #ffffff;
    padding: 20px;
    width: 200px;
    float: left;
    margin: 20px;
    height: 200px;
}

.kotak1 {
    border-radius: 10px 10px 10px 10px;
}


.kotak2 {
    border-radius: 40px 20px 60px 90px;
}

.kotak3 {
    border-radius: 2px 140px 20px 60px;
}

.kotak3 {
    border-radius: 20px 10px 80px 10px;
}

.kotak4 {
    border-radius: 0px 50px 0px 50px;
}

.kotak5 {
    border-radius: 0px 0px 0px 0px;
}

.kotak6 {
    border-radius: 100%;
}

.kotak7 {
    border-radius: 40px 10px;
}

.kotak8 {
    border-radius: 10px 10px 50% 50%;
}