body {
    background: #a91d1d;
    font-family: "Times New Roman", Times, serif;
    text-align: center;
}

h1 {
    color: #fff;
}

div {
    margin: 10px;
}

.kotak {
    background: #fff;
    width: 100px;
    height: 100px;
    transition: width 1s;
    -webkit-transition: width 1s;
}

.kotak:hover {
    width: 300px;
}

.kotak2 {
    background: #fff;
    width: 100px;
    height: 100px;
    transition: width 1s, height 2s;
    -webkit-transition: width 1s, height 2s;
}

.kotak2:hover {
    width: 300px;
    height: 300px;
}