body {
    background: #35a9db;
    font-family: "Times New Roman", Times, serif;
    text-align: center;
}

h1,
h2 {
    color: #fff;
}

.ketengah {
    margin: 10px auto;
    width: 1150px;
}

.kotak1 {
    background: #fcfcfc;
    padding: 20px;
    float: left;
    margin: 50px;
    width: 150px;
    height: 150px;
}

.kotak2 {
    background: #fcfcfc;
    padding: 20px;
    float: left;
    margin: 50px;
    width: 150px;
    height: 150px;
    -ms-transform: rotate(30deg);
    -webkit-transform: rotate(30deg);
    transform: rotate(30deg);
}

.kotak3 {
    background: #fcfcfc;
    padding: 20px;
    float: left;
    margin: 50px;
    width: 150px;
    height: 150px;
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}

.kotak4 {
    background: #fcfcfc;
    padding: 20px;
    float: left;
    margin: 50px;
    width: 150px;
    height: 150px;
    -ms-transform: rotate(-60deg);
    -webkit-transform: rotate(-60deg);
    transform: rotate(-60deg);
}