body {
    background: #35A9DB;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}

h1,
h2 {
    color: #fff;
}

.ketengah {
    margin: 10px auto;
    width: 1150px;
}

.kotak1 {
    background: #fcfcfc;
    padding: 20px;
    float: left;
    margin: 50px;
    width: 150px;
    height: 150px;
}

.kotak2 {
    background: #fcfcfc;
    padding: 20px;
    float: left;
    margin: 50px;
    width: 150px;
    height: 150px;
    -ms-transform: skew(20deg);
    -webkit-transform: skew(20deg);
    transform: skew(20deg);
}

.kotak3 {
    background: #fcfcfc;
    padding: 20px;
    float: left;
    margin: 50px;
    width: 150px;
    height: 150px;
    -ms-transform: skew(30deg, 20deg);
    -webkit-transform: skew(30deg, 20deg);
    transform: skew(30deg, 20deg);
}

.kotak4 {
    background: #fcfcfc;
    padding: 20px;
    float: left;
    margin: 50px;
    width: 150px;
    height: 150px;
    -ms-transform: skewY(20deg);
    -webkit-transform: skewY(20deg);
    transform: skewY(20deg);
}

.kotak5 {
    background: #fcfcfc;
    padding: 20px;
    float: left;
    margin: 50px;
    width: 150px;
    height: 150px;
    -ms-transform: skewX(20deg);
    -webkit-transform: skewX(20deg);
    transform: skewX(20deg);
}